---

import { Heading, BodyLong } from "@navikt/ds-react";
import { text } from "@language/text";
import styles from "./Disclaimer.module.css"
import type { Language } from "@language/language";

interface Props {
  language: Language;
}

const { language } = Astro.props;

---

<div class={styles.container}>
  <Heading level="2" size="small">
    {text.landingssideDisclaimerTittel[language]}
  </Heading>
  <ul>
    <li>
      <BodyLong>{text.landingssideDisclaimerListepunktEn[language]}</BodyLong>
    </li>
    <li>
      <BodyLong>{text.landingssideDisclaimerListepunktTo[language]}</BodyLong>
    </li>
    <li>
      <BodyLong>{text.documentDisclaimerListepunktEn[language]}</BodyLong>
    </li>
    <li>
      <BodyLong>{text.documentDisclaimerListepunktTo[language]}</BodyLong>
    </li>
  </ul>
  <BodyLong>
    <span>
      {/* <a
        href={kontaktOssUrl}
        onClick={() => logAmplitudeEvent("Lenke", "Disclaimer", text.landingssideDisclaimerTekstDel1["nb"])}
      >
        {text.landingssideDisclaimerTekstDel1[language]}
      </a>*/}
    </span>
    {text.landingssideDisclaimerTekstDel2[language]}
  </BodyLong>
</div>