---
import Breadcrumbs from "@components/breadcrumbs/Breadcrumbs";
import FeilMelding from "@components/feilmelding/Feilmelding";
import SingleJournalpost from "@components/single-journalpost-astro/SingleJournalpost.astro";
import type { Language } from "@language/language";
import Layout from "@layouts/Layout.astro";

const { journalpostid } = Astro.params;
const params = Astro.url.searchParams;
const fullmakt = params.get("fullmakt");
const language = Astro.currentLocale as Language;
---

<Layout title="Dokumentarkiv" language={language}>
  <Breadcrumbs showDokumenter={true} language={language} client:only="react" />
  <FeilMelding language={language} client:only="react" />
  <SingleJournalpost server:defer journalpostId={journalpostid} fullmakt={fullmakt}>
    <div slot="fallback">Loading...</div>
  </SingleJournalpost>
</Layout>
